# Exclude node_modules directory
node_modules

# Exclude npm debug logs
npm-debug.log*

# Exclude Dockerfile and docker-compose.yml
Dockerfile
docker-compose.yml

# Exclude development files
*.md
*.test.js
